

img{
  height: 40px;
  width: 40px;
}
.App-header {
  background-color: #757c8b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.display-container{
  display: flex;
  flex-direction: column;
}
.App-link {
  color: #61dafb;
}
button{
  max-width: 100px;
}

.today{
  display: flex;
  border-bottom: 1px solid white;
  flex-direction: row;
  justify-self:center;

}
.day{
  display: flex;
  margin: 1rem;
}